<form class="form-signin">
	<h2 class="form-signin-heading">Cadastre-se</h2>
	<input type="text" class="input-block-level"
		placeholder="Endereço de Email"> <input type="password"
		class="input-block-level" placeholder="Senha">
	<button class="btn btn-large btn-primary" type="submit">Salvar</button>
	<button class="btn btn-large btn-primary" type="submit">Remover</button>
	<button class="btn btn-large btn-primary" type="reset">Incluir Novo</button>
</form>